{% load static %}
<!-- begin:footer -->
<footer id="colophon" class="site-footer bg-black" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <section class="widget">
            <img src="{% static 'assets/img/logo.png' %}" alt="bootstrap theme for construction companies" class="img-responsive marg-20-btm marg-20-top">
            <p>Tujenge Traders is  your one-stop destination for premium building materials. We offer a wide range of top-quality supplies including lumber, cement, hardware, tools, and more, catering to contractors, builders, and DIY enthusiasts alike. We are based in Dodoma, Tanzania.</p>
          </section><!-- .widget -->
        </div><!-- .col-## -->

        <div class="col-md-2 col-sm-6 col-md-offset-1 col-sm-offset-0">
          <section class="widget">
            <h3 class="widget-title">Our Company</h3>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Selected Work</a></li>
              <li><a href="#">Get in touch</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </section><!-- .widget -->
        </div><!-- .col-## -->

        <div class="col-md-3 col-sm-6">
          <section class="widget">
            <h3 class="widget-title">Our Services</h3>
            <ul>
              <li><a href="#">Metal Roofting</a></li>
              <li><a href="#">Green Building</a></li>
              <li><a href="#">Construction Consultant</a></li>
              <li><a href="#">Construction Management</a></li>
              <li><a href="#">General Contracting</a></li>
            </ul>
          </section><!-- .widget -->
        </div><!-- .col-## -->

        <div class="col-md-3 col-sm-6">
          <section class="widget">
            <h3 class="widget-title">Location</h3>
            <div class="rounded-medium map-div">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.8843192155355!2d35.81190957453024!3d-6.1462360602481505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x184de50058a1414b%3A0xa26bf4afd426b2ee!2sTujenge%20Traders!5e0!3m2!1sen!2stz!4v1704489077283!5m2!1sen!2stz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </section>
        </div><!-- .col-## -->
      </div><!-- .row -->
    </div><!-- .container -->
  </footer><!-- #colophon -->
  <!-- end:footer -->

  <!-- begin:copyright -->
  <section id="copyright" class="copyright bg-black">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 copy-left">
           <p><a href="javascript:;">Tujenge Traders</a>. All Right Reserved.</p>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 copy-right">
          <ul class="social-icon">
            {% comment %} <li><a href="#" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank" class="icon-facebook"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#" target="_blank" class="icon-youtube"><i class="fa fa-youtube"></i></a></li> {% endcomment %}
            <li><a href="https://www.instagram.com/tujengetrader/" target="_blank" class="icon-instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- #copyright -->
  <!-- begin:copyright -->
