{% load static %}
{% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:300,500" rel="stylesheet">
<link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/Pe-icon-7-stroke.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.min.css' %}">

<style>
    
.swiper {
    width: 250px;
    height: 450px;
    padding: 50px 0;
  }
  
  .swiper-slide {
    position: relative;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .swiper-slide span {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 7px 18px;
    margin: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: inherit;
    background: rgba(255, 255, 255, 0.095);
    box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2), inset -3px 3px 3px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(74px);
  }
  
  .swiper-slide h2 {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0 0 20px 20px;
  }
</style>