{% extends 'NonAuthenticated/layout.html' %}
{% load static %}
{% block content %}
  <!-- begin:additional-info -->
  <div id="additional-info" class="additional-info block-section bg-grey padd-20-top padd-80-btm  mx-auto" style="border-radius:7px">
    <div class="container ">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="contact-item">
            <div class="contact-item-icon">
              <i class="fa fa-phone"></i>
            </div><!-- .contact-item-icon -->
            <h4 class="contact-item-title">Tupigie Kupitia:</h4>
            <div class="contact-item-info">+255 673 736 622</div>
          </div><!-- .contact-item -->
        </div><!-- .col-# -->

        <div class="col-md-3 col-sm-6">
          <div class="contact-item">
            <div class="contact-item-icon">
              <i class="fa fa-envelope-o"></i>
            </div><!-- .contact-item-icon -->
            <h4 class="contact-item-title">Barua Pepe:</h4>
            <div class="contact-item-info">info@tujengetraders.com</div>
          </div><!-- .contact-item -->
        </div><!-- .col-# -->

        <div class="col-md-3 col-sm-6">
          <div class="contact-item">
            <div class="contact-item-icon">
              <i class="fa fa-map-marker"></i>
            </div><!-- .contact-item-icon -->
            <h4 class="contact-item-title">Anwani ya Ofisi:</h4>
            <div class="contact-item-info">Nane nane, Nzughuni</div>
          </div><!-- .contact-item -->
        </div><!-- .col-# -->

        <div class="col-md-3 col-sm-6">
          <div class="contact-item">
            <div class="contact-item-icon">
              <i class="fa fa-clock-o"></i>
            </div><!-- .contact-item-icon -->
            <h4 class="contact-item-title">Tupo Wazi:</h4>
            <div class="contact-item-info">Jumatatu - Jumamosi: 07:00 - 18:00</div>
          </div><!-- .contact-item -->
        </div><!-- .col-# -->
      </div><!-- .row -->
    </div><!-- container -->
  </div><!-- #additional-info -->
  <!-- end:additional-info -->

  <!-- begin:why -->
  <div id="why" class="why content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Kwanini uchague Sisi?</h2>
          </div>
        </div><!-- .col-md-12 -->
      </div><!-- .row -->
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="process-item highlight text-center">
            <img src="{% static 'assets/img/img-work-dalle-1.jpg' %}" class="img-responsive">
            <div class="process-item-content">
              <span class="process-item-number">1</span>
              <h3 class="process-item-title">Bei Nzuri</h3>
              <p><strong>Je, ungependa kujua kuhusu ofa bora zaidi?</strong> Fika na uzungumze nasi! Timu yetu iko tayari kukusaidia kupata bei zisizo na kifani kwenye bidhaa unazohitaji.</p>
            </div><!-- .process-item-content -->
          </div><!-- .process-item -->
        </div><!-- .col-## -->
        <div class="col-md-3 col-sm-6">
          <div class="process-item highlight text-center">
            <img src="{% static 'assets/img/expert.jpg' %}" class="img-responsive">
            <div class="process-item-content">
              <span class="process-item-number">2</span>
              <h3 class="process-item-title">Ushauri wa Kitaalamu</h3>
              <p><strong>Huna uhakika kuhusu unachotaka kununua?</strong> Fika dukani kwetu, zungumza na wataalam wetu kupata chaguo bora kwa mahitaji yako!</p>
            </div><!-- .process-item-content -->
          </div><!-- .process-item -->
        </div><!-- .col-## -->
        <div class="col-md-3 col-sm-6">
          <div class="process-item highlight text-center">
            <img src="{% static 'assets/img/Logistics.jpg' %}" class="img-responsive">
            <div class="process-item-content">
              <span class="process-item-number">3</span>
              <h3 class="process-item-title">Usafiri</h3>
              <p>Kamwe usisumbuke kuhusu usafiri kwa ajili ya order yako kubwa kwenda site, tumekuletea karibu usafiri kwa bei nafuu.</p>
            </div><!-- .process-item-content -->
          </div><!-- .process-item -->
        </div><!-- .col-## -->
        <div class="col-md-3 col-sm-6">
          <div class="process-item highlight text-center">
            <img src="{% static 'assets/img/premium-quality-badge.png' %}" class="img-responsive">
            <div class="process-item-content">
              <span class="process-item-number">4</span>
              <h3 class="process-item-title">Ubora wa Juu</h3>
              <p>Tunathamini wateja wetu, hivyo tunauza bidhaa za ubora wa hali ya juu kuhakikisha ujenzi wako unakuwa wenye ubora wa hali ya juu.</p>
            </div><!-- .process-item-content -->
          </div><!-- .process-item -->
        </div><!-- .col-## -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- #why -->
  <!-- end:why -->

  <!-- begin:testimonial -->
  {% comment %} <div id="testimonial" class="block-section image-block bg-light">
    <div class="container-fluid container-no-padding">
      <div class="row row-no-margin">
        <div class="image-block-item col-md-6 col-md-offset-6 col-sm-5 col-xs-12">
          <div class="image-block-item-background" style="background-image: url('assets/img/img-content-03.jpg');"></div>
        </div><!-- .image-block-item -->
      </div><!-- .row -->
    </div><!-- .container-fluid -->

    <div class="container clear">
      <div class="row">
        <div class="col-md-5 col-md-offset-0 col-sm-7 col-sm-offset-5 padd-60-top padd-100-btm">
          <div class="section-title">
            <h2>What People Says</h2>
          </div>
          <div class="carousel slide testimony-dark" id="testimony" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#testimony" data-slide-to="0" class="active"></li>
              <li data-target="#testimony" data-slide-to="1" class=""></li>
            </ol><!-- .carousel-indicators -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <p>Recently we had to redesign our landing page and were looking for a template that fit our needs. We found this template which far exceeded our expectations</p>
                <img class="testimony-item-image" src="{% static 'assets/img/img-testimony-01.jpg' %}">
                <span class="testimony-item-source source-alt"><strong>David Groot</strong> Shark Inc.</span>
              </div><!-- .item -->
              <div class="item">
                <p>I don't know what else to say. It had everything we wanted and was better designed than anything we could have accomplished on our own. Thanks for the great work.</p>
                <img class="testimony-item-image" src="{% static 'assets/img/img-testimony-02.jpg' %}">
                <span class="testimony-item-source source-alt"><strong>Max Well</strong> Cooldad</span>
              </div><!-- .item -->
            </div><!-- .carousel-inner -->
          </div><!-- #client-says -->
        </div><!-- .col-## -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div> {% endcomment %}
  <!-- #testimonial -->
  <!-- end:testimonial -->

  <!-- begin:client -->
  {% comment %} <div id="client" class="client block-section bg-white padd-40-top padd-40-btm">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="slider-thumbnail" class="owl-carousel owl-theme client-slider slider-carousel navigation-hide">
            <div class="item">
              <a href="#">
                <img src="{% static 'assets/img/img-client-01.png' %}" alt="client">
              </a>
            </div><!-- .item -->
            <div class="item">
              <a href="#">
                <img src="{% static 'assets/img/img-client-02.png' %}" alt="client">
              </a>
            </div><!-- .item -->
            <div class="item">
              <a href="#">
                <img src="{% static 'assets/img/img-client-03.png' %}" alt="client">
              </a>
            </div><!-- .item -->
            <div class="item">
              <a href="#">
                <img src="{% static 'assets/img/img-client-04.png' %}" alt="client">
              </a>
            </div><!-- .item -->
            <div class="item">
              <a href="#">
                <img src="{% static 'assets/img/img-client-05.png' %}" alt="client">
              </a>
            </div><!-- .item -->
            <div class="item">
              <a href="#">
                <img src="{% static 'assets/img/img-client-06.png' %}" alt="client">
              </a>
            </div><!-- .item -->
            <div class="item">
              <a href="#">
                <img src="{% static 'assets/img/img-client-07.png' %}" alt="client">
              </a>
            </div><!-- .item -->
            <div class="item">
              <a href="#">
                <img src="{% static 'assets/img/img-client-08.png' %}" alt="client">
              </a>
            </div><!-- .item -->
          </div><!-- #slider-thumbnail -->
        </div><!-- .col-md-12 -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- #client --> {% endcomment %}
  <!-- end:client -->
{% endblock %}
