{% extends 'NonAuthenticated/layout.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto p-8 mt-10">
    <div class="grid grid-cols-12 gap-10 max-md:my-10 pt-10 flex items-center">
        <div class="col-span-12 rounded-lg p-5 px-12">
            <h1 class="text-6xl font-bold text-gray-700 dark:text-gray-200">Terms and conditions.</h1>
            <section class="my-10 text-gray-700 dark:text-gray-200">
                <h1>Terms and Conditions for "My Event" Website</h1>

                <h2 class="font-bold mt-3">1. Acceptance of Terms</h2>
                <p>By accessing or using "My Event," you agree to be bound by these Terms and Conditions. If you do not agree with any part of these terms, you may not use our services.</p>

                <h2 class="font-bold mt-3">2. User Registration</h2>
                <p>2.1. To use certain features of our website, you may be required to register an account. You agree to provide accurate and complete information during the registration process.</p>
                <p>2.2. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</p>

                <h2 class="font-bold mt-3">3. Service Usage</h2>
                <p>3.1. "My Event" is intended for lawful purposes. You may not use our services for any illegal or unauthorized activities.</p>
                <p>3.2. You are responsible for all content and data that you post or transmit through our website.</p>

                <h2 class="font-bold mt-3">4. Privacy</h2>
                <p>Your use of our services is also governed by our <a href="privacy.html">Privacy Policy</a>. Please review our Privacy Policy to understand our practices regarding data collection and usage.</p>

                <h2 class="font-bold mt-3">5. Intellectual Property</h2>
                <p>5.1. "My Event" and its content, including but not limited to text, graphics, logos, and software, are protected by copyright and other intellectual property laws.</p>
                <p>5.2. You may not reproduce, distribute, or create derivative works based on our content without our express permission.</p>

                <h2 class="font-bold mt-3">6. Termination</h2>
                <p>We reserve the right to terminate your access to our services at our discretion, without notice, for any breach of these Terms and Conditions.</p>

                <h2 class="font-bold mt-3">7. Changes to Terms and Conditions</h2>
                <p>We may update these Terms and Conditions as necessary. We will notify you of any significant changes on our website.</p>

                <h2 class="font-bold mt-3">8. Contact Us</h2>
                <p>If you have any questions or concerns about these Terms and Conditions, please contact us at fredie.nazary@gmail.com.</p>
            </section>
        </div>
    
    </div>

    
</div>
{% endblock %}
